.sec1{
    font-size: 3vh;
    background-image: url("../img/vinter.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vw;
    padding-top: 45vh;
    margin: auto;
}
.kontakt-box1{
    padding: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}
.kontakt-oss-txt{
    padding: 2vh;
    width: 50%;
}
.kontakt-oss-liste{
    padding: 2vh;
}
.kontakt-oss-liste ul li{
    padding: 1vw;
}
ul{
    list-style: none;
}
.cta-kontakt{
    color: black;
}
.cta-kontakt:hover{
    color: #146e44;
    transition: 0.2s;
}

footer{
    margin-top: 0;
}

@media only screen and (max-width: 1200px){
    .sec1{
        padding: 2vh;
        padding-top: 200px;
        background-image: none;
        font-size: 3vw;
    }
    .kontakt-box1{
        padding: 1vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .kontakt-oss-txt{
        width: 90%;
    }
    .kontakt-oss-liste{
        width: 90%;
    }
    .kontakt-oss-liste ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 1100px){
    .sec1{
        padding-top: 100px;
    }
}