section{
    font-size: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.sec1{
    padding-top: 20vh;
    align-items: center;
    justify-content: center;
}
.txt1{
    width: 60%;
    min-width: 360px;
}
.top-pic{
    width: 35%;
    min-width: 360px;
    padding: 2vh;
}

.ansatte{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ansatt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    width: 30vw;
    min-width: 360px;
    margin: 2vh 2vw;
    border: #146e44 solid 3px;
    background-color: lightgray;
}
.title{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
.profil{
    width: 18vw;
    min-width: 150px;
}
@media only screen and (max-width: 1200px){
    .sec1{
        padding-top: 18vw;
    }
    .txt1{
        width: 90%;
    }
    .top-pic{
        width: 50%;
    }
    .ansatt{
        width: 90%;
    }
}
@media only screen and (max-width: 1000px){
    .sec1{
        padding-top: 23vw;
    }
}