section{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.sec1{
    padding-top: 15vh;
    align-items: center;
}
.txt1{
    width: 60%;
    min-width: 360px;
}
.top-pic{
    width: 40%;
    min-width: 360px;
}

.arbeider{
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
    padding: 3vh;
    border: #146e44 solid 3px;
}
.title{
    width: 50%;
    text-align: center;
}
.profil{
    width: 20vw;
    height: 30vh;
}