section{
    font-size: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.sec1{
    padding-top: 20vh;
    align-items: center;
    justify-content: center;
}
.txt1{
    width: 60%;
    min-width: 360px;
}
.top-pic{
    width: 35%;
    min-width: 360px;
    padding: 2vh 2vw;
}

.ansatte{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ansatt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 3vw;
    width: 30vw;
    min-width: 360px;
    margin: 2vh 2vw;
    border: #146e44 solid 3px;
    background-color: lightgray;
}
.title{
    font-size: 18px;
    padding-left: 2vw;
    padding-right: 2vw;
}
.profil{
    width: 18vw;
    min-width: 150px;
}