.sec1{
    padding-top: 20vh;
    width: 90%;
    margin: auto;
}
.box1{
    padding: 5vh;
}
table{
    width: 100%;
}
tr{
}
td, th{
    width: 50%;
    text-align: center;

}
td{
    background-color: #146e44;
    color: white;
}
th{
    height: 30vh;
}