.sec1{
    font-size: 3vh;
    padding-top: 14vw;
    width: 80%;
    margin: auto;
}
.box1{
    padding: 5vh;
}
table{
    display: none;
    margin: auto;
}
td, th{
    width: 50%;
    text-align: center;

}
td{
    background-color: #146e44;
    color: white;
}
th{
    height: 25vw;
}
@media only screen and (max-width: 1200px){
    .sec1{
        width: 90%;
        font-size: 3vw;
        padding-top: 10vh;
    }
    .box1{
        padding: 4vh;
    }
    td, th{
        width: 50%;
    }
}
@media only screen and (max-width: 800px){
    .sec1{
        padding-top: 20vw;
    }
    .box1{
        padding: 3vw;
    }
}