.sec1{
    font-size: 20px;
    padding-top: 20vh;
    width: 80%;
    margin: auto;
}
.box1{
    padding: 5vh;
}
table{
    width: 80%;
    margin: auto;
}
tr{
    
}
td, th{
    width: 50%;
    text-align: center;

}
td{
    background-color: #146e44;
    color: white;
}
th{
    height: 25vh;
}