*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif
}

img{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 1vw;
    background-color: rgb(93, 207, 93);
    position: fixed;
    width: 100%;
}
.topnav ul{
    list-style: none;
    display: flex;
}
.topnav ul li{
    margin: 2vh 3vw;
}
.topnav ul li a{
    text-decoration: none;
    color: black;
    font-size: 3vh;
}
.topnav ul li a:hover{
    color: white;
    transition: 0.3s;
}

.home{
    background-image: url("../img/background_home.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.home-txt{
    background-color: white;
    padding: 5vh 8vw;
}

.om_oss_sec{
    width: 90%;
    margin: 3vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.om_oss_sec-txt{
    width: 50%;
    font-size: 1.4em;
}
.om_oss_sec-pic1{
    height: 40vh;
}
.om_oss_sec-pic1 img{
    width: auto;
    height: 100%;
}

.kontakt_oss_sec{
}
.kontakt_oss_sec-header{
    background-color: rgb(93, 207, 93);
    padding: 5vh 5vw;
    text-align: center;
}
.kontakt_oss_sec-info{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.kontakt_oss_sec-txt{
    font-size: 1.4em;
    padding: 3vh 0;
    width: 50%;
}
.cta-kontakt_oss{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
}
.cta-kontakt_oss a{
    background-color: lightgreen;
    padding: 3vh 6vw;
    text-decoration: none;
    color: black;   
}