*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

/* Header CSS */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw;
    background-color: white;
    position: fixed;
    height: 14vh;
    width: 100%;
    box-shadow: 0px 1px 10px gray;
}
.cta-home{
    background-image: url("../img/ny-font-logo-ubakg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 60px 140px;
}
.topnav ul{
    list-style: none;
    display: flex;
}
.topnav ul li{
    padding: 1vw 2vw;
}
.topnav ul li a{
    text-decoration: none;
    color: black;
    font-size: 4vh;
}
.topnav ul li a:hover{
    color: #146e44;
    background-color: transparent;
    transition: 0.2s;
}
.this-site p{
    color: #146e44;
    text-decoration: underline;
}
@media only screen and (max-width: 1200px){
    header{
        height: 80px;
    }
    .cta-home{
        padding: 6vw 13vw;
    }
}
@media only screen and (max-width: 1100px){
    header{
        height: 50px;
    }
}

/* Hamburger Menu */
.overlay, .overlay-cont, #hamburger{
    display: none;
}

@media only screen and (max-width: 1200px){
    .topnav{
        display: none;
    }
    #hamburger{
        display: flex;
        padding: 10px 10px;
        border-radius: 50px;
    }
    #hamburger img{
        width: 35px;
        cursor: pointer;
    }
    .hamburger-icon{
        text-decoration: underline;
    }
    .overlay, .overlay-cont, #hamburger{
        display: block;
    }
    .overlay{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.2s;
    }
    .overlay-cont{
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .overlay a{
        padding: 8px;
        text-decoration: none;
        font-size: 5vw;
        color: black;
        display: block;
        transition: 0.2s;
    }
    .overlay a:hover, .overlay a:focus{
        color: #146e44;
        text-decoration: underline;
        transition: 0.2s;
    }
    .overlay .closebtn{
        position: absolute;
        top: 15px;
        right: 35px;
        font-size: 12vw;
    }

}
@media only screen and (max-width: 1100px){
    #hamburger img{
        width: 25px;
    }
}

/* Footer CSS */
footer{
    position: static;
    background-color: #146e44;
    color: white;
}
.fotsec1{
    padding: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-txt{
    flex: 1;
    margin: auto;
    font-size: 3vh;
}
.footer-list-box{
    flex: 1;
    text-align: right;
    font-size: 3vh;
}
.footer-list-box ul{
    list-style: none;
}
.footer-list-box ul li{
    padding: 1vw;
}
.footer-list-box ul li a{
    color: white;
}
.footer-list-box ul li a:hover{
    color: black;
    transition: 0.2s;
}
.copyright{
    border-top: black solid 2px;
    padding: 2vw;
    text-align: center;
    font-size: 3vh;
}
@media only screen and (max-width: 1200px){
    .fotsec1{
        padding: 4vh;
        display: block;
    }
    .footer-txt{
        font-size: 3vw;
    }
    .footer-list-box{
        text-align: left;
        padding: 0;
        padding-top: 3vh;
        font-size: 3vw;
    }
    .footer-list-box ul{
        display: flex;
        justify-content: center;
    }
    .copyright{
        font-size: 2vw;
    }
}